@model mobileInfo_Assignment03.Models.mobileInfo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>mobileInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="mobileId" />
            <div class="form-group">
                <label asp-for="mobileModel" class="control-label"></label>
                <input asp-for="mobileModel" class="form-control" />
                <span asp-validation-for="mobileModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mobileCompany" class="control-label"></label>
                <input asp-for="mobileCompany" class="form-control" />
                <span asp-validation-for="mobileCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="manufacturedYear" class="control-label"></label>
                <input asp-for="manufacturedYear" class="form-control" />
                <span asp-validation-for="manufacturedYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mobileStorage" class="control-label"></label>
                <input asp-for="mobileStorage" class="form-control" />
                <span asp-validation-for="mobileStorage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mobileColour" class="control-label"></label>
                <input asp-for="mobileColour" class="form-control" />
                <span asp-validation-for="mobileColour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
